<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bangla Sign Language{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>   
    <link rel="stylesheet" href="{% static 'polls/css/myCss.css' %}"> 

</head>
<body>

    {% csrf_token %}
    <h1 style="font-weight:bold">Bangla Sign Language Generator </h1> 
    <div class="form-group shadow-textarea">
      <label for="exampleFormControlTextarea6">অটোমেটিক বাংলা টাইপিং এর জন্য লিখুন : </label>
      <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here...">ami valo achi </textarea>
     <center> <button class="btn btn-info" id="convert-button" style="margin-top:1%;">Generate</button> </center> 
    </div>

        <div class="col-sm" style="display:flex;justify-content:center;align-items:center;">
          <div id="table-maker" style="text-align: center;" ></div>
        </div>

    <script type="text/javascript" src="{% static 'polls/js/new.js' %}"></script>  
    
</body>

</html>